<%= search_form_for(@query, url: search_path, method: :get,class:'form-inline my-2 my-lg-0 ') do |f| %>
    <%= f.search_field :title_i_cont_any, placeholder: "Search...", class: "form-control mr-sm-2"%>
    <%= f.submit "Search!", class: "btn btn-outline-success my-2 my-sm-0" %>
    <div style="color:white" >
        <% Category.pluck(:name).each do |cat|%>
            <%= check_box_tag("selected_categories[]", cat) %> <%=cat%>
        <%end%>
    </div>
<% end %>
