<div id="orders_history"><h1>Orders History</h1></div>
<div class="card text-white bg-info mb-3 " style="max-width: 35rem; max-height: 40rem;">
  <div class="card-header">Summary</div>
  <div class="card-body">

  <div class="row">
    <div class="ml-2 ordered_status"> <%="Ordered:  "%><hr><%=@orders.where(status: "ordered").count%></div>
    <div class="ml-2 paid_status" > <%="Paid:  "%><hr><%=@orders.where(status: "paid").count%></div>
    <div class="ml-2 cancelled_status" > <%="Cancelled:  "%><hr><%=@orders.where(status: "cancelled").count%></div>
    <div class="ml-2 completed_status" > <%="Completed:  "%><hr><%=@orders.where(status: "completed").count%></div>
  </div>
</div>
</div>

<%= button_to 'Ordered',orders_path, action: :test,method: :"get", form_class: 'btn btn-danger',params:{search: "ordered"}, :remote=>true %>
<%= button_to 'Paid',orders_path, action: :test,method: :"get", form_class: 'btn btn-danger',params:{search: "paid"}, :remote=>true %>
<%= button_to 'Cancelled',orders_path, action: :test,method: :"get", form_class: 'btn btn-danger',params:{search: "cancelled"}, :remote=>true %>
<%= button_to 'Completed',orders_path, action: :test,method: :"get", form_class: 'btn btn-danger',params:{search: "completed"}, :remote=>true %>

<div id="orders_container">
<%=render @orders%>
</div>

