  <div class="jumbotron md-col-8" >
    <h5 class="display-4 ">Order </h5>
    <div class="row">
      <h6 class="ml-3"><%="Name: "+User.find(@order.user_id).full_name%></h6>
      <h6 class="ml-5"><%="Email: "+User.find(@order.user_id).email%></h6>
    </div>
      <div class="row ml-1">
      <h5 class="mt-1 display-7 ">Bill Rs:  <%=@order.price%></h5>
      <div class="ml-2 mt-0 ordered_status" > <%=@order.status%></div>
      <%a = @order.created_at.to_s%>
      <%a = a.split(" ")%>
      <div class="mt-1 ml-5">
        <div class="row">
        <h6><%="Date: " + a[0]%></h6>
        <h6 class="ml-5"><%="Time: " + a[1]%></h6>
        </div>
      </div>
    </div>
    <hr>
    <div class="row" >
      <%@order.inline_item_ids.each do |item|%>
        <%= render partial: "order_inline_items", locals: { item: item}%>
      <%end%>
    </div>
  </div>
