<div class="col-md-4  blog-main box text-center "  id="item_<%= item.id %>">
  <div  class="panel panel-info">
    <div class="panel-heading">

      <h3  class="panel-title "><%=link_to item.title, item, class:"item_partial"%></h3>
      <p><%=item.description%></p>

    </div>

    <div class="panel-body">
      <div style="color: #3BB2D6;"><%= time_ago_in_words(item.created_at)%>
      </div>

      <div>
      <%if item.permit?%>
        <%a="Retire Item"%>
      <%else%>
        <%a="mark as available"%>
      <%end%>

        <%= form_with( model:item , remote: true) do |t| %>
            <%if item.permit?%>
              <%= t.hidden_field :status, :value=> "not_permit" %>
            <%else%>
              <%= t.hidden_field :status, :value=> "permit" %>
            <%end%>
            <%= t.submit a, class:"btn btn-danger mr-2" %>
        <% end %>
      </div>
      <br>
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myupdateitem_<%= item.id%>">
        Edit
        </button>
        <%= link_to 'Destroy', item, method: :delete, class: "btn btn-danger", remote: true%>

      </div>
      <br><br>
      <div >
      <%# <button type="button" class="btn btn-primary">Add to cart</button> %>
      </div>
    </div>
  </div>
  <%if item.permit?%>
    <%= form_with(model: @inline_item, remote: false) do |f| %>
        <div class="field">
            <%# <%= f.label :title%>
            <input hidden name="inline_item[item_id]" value="<%=item.id%>"/>
            <input hidden name="inline_item[quantity]" value="1"/>
            <input hidden name="inline_item[price]" value="<%=item.price%>"/>
        </div>
        <input hidden name="_method" value="POST">
        <button type="submit" class="btn btn-primary">Add to cart</button>
    <% end %>
  <%else%>
    <div style="width:120px;  margin-left: 8vw!important;" class="btn-danger mt-4">"Retired"</div>
  <%end%>

  <!-- Modal -->
  <%# <%= form_for(item, :method => :put, remote: true) do |f|%>
  <%= form_for(item, remote: true) do |f|%>
    <div class="modal fade" id="myupdateitem_<%=item.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

      <div class="modal-dialog" >
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Edit</h4>
          </div>
          <div class="item_errors_div" id="item-updated-errors">

              <div>
                <% if @item.errors.full_messages.any? %>
                  <% @item.errors.full_messages.each do |error_message| %>
                    <%= error_message  %> <br />
                  <% end %>
                <% end %>
              </div>
            </div>
          <div class="modal-body">
            <div class="field">
            <%= f.label :title%><br>
            <%= f.text_area :title, class: "form-controller item_title"%>
            <%=%>
            </div>
            <div class="field">
            <%= f.label :description%><br>
            <%= f.text_area :description, class: "form-controller item_description"%>
            </div>
            <div class="field">
            <%= f.label :price%><br>
            <%= f.text_area :price, class: "form-controller item_price"%>
            </div>
            <div class="field">
              <%= f.label :image%><br>
              <%= f.file_field :image, class: "form-control item_image"%>
            </div>
            <div class="field">
            <%= f.label :Category%><br>
              <%# <%= f.select :category_ids, options_from_collection_for_select(Category.all, :id, :name),class: "form-control item_category" ,prompt: "Select Category", multiple: true %>
              <%= f.collection_select :category_ids, Category.all, :id, :name, {include_blank: "select category"},  {:multiple => true}  %>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" id="myupdatebutton_<%= item.id %>" class="btn btn-default" data-dismiss="modal" >Close</button>
            <%= submit_tag "Update", class: "btn btn-primary"%>
          </div>
        </div>
      </div>
    </div>
  <%end%>
</div>

