
<div class="container">
  <div class="row">
    <div class="text-center">
      <!-- Button trigger modal -->

      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#mynewitem">
        New Item
      </button>

    </div>
  </div>
  <br>
  <hr>
  <div class="row" id="container_items">
    <%= render @items%>
  </div>



  <!-- Modal -->
  <%= form_for(@item, remote: true) do |f|%>

    <div class="modal fade" id="mynewitem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" >
        <div class="modal-content">
          <div class="modal-header">
           <h4 class="modal-title" id="myModalLabel">Item</h4>
          </div>
            <div class="item_errors_div" id="item-updated-errors">

              <div>
                <% if @item.errors.full_messages.any? %>
                  <% @item.errors.full_messages.each do |error_message| %>
                    <%= error_message  %> <br />
                  <% end %>
                <% end %>
              </div>
            </div>
          <div class="modal-body">
            <div class="field">
              <%= f.label :title%><br>
              <%= f.text_area :title, class: "form-control item_title"%>
            </div>
            <div class="field">
              <%= f.label :description%><br>
              <%= f.text_area :description, class: "form-control item_description"%>
            </div>
            <div class="field">
              <%= f.label :price%><br>
              <%= f.text_area :price, class: "form-control item_price"%>
            </div>
            <div class="field">
              <%= f.label :image%><br>
              <%= f.file_field :image, class: "form-control item_image"%>
            </div>
            <div class="field">
            <%= f.label :Category%><br>
            <%# <%= f.select :category_ids, options_from_collection_for_select(Category.all, :id, :name),class: "form-control item_category" ,prompt: "Select Category", multiple: true %>
            <%= f.collection_select :category_ids, Category.all, :id, :name, {include_blank: "select category"},  {:multiple => true}  %>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="mynewitemclose">Close</button>
            <%= submit_tag "Create", class: "btn btn-primary"%>
          </div>
        </div>
      </div>
    </div>
  <%end%>
</div>


<script>
$("#mynewitemclose").click(function(){
 // debugger
  $("#item-updated-errors").remove()
})
</script>
