<h1>Categories</h1>
<!-- Button trigger modal -->

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#newcategorymodal">
  Add Category
</button>
  <div class="row" id="container_categories">
    <%= render @category%>
  </div>
<%= form_for(@category, remote: true) do |f|%>
<!-- Modal -->
<div class="modal fade" id="newcategorymodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Category</h4>
      </div>
      <div class="category_errors_div" id="category-updated-errors">

        <div>
          <% if @category.errors.full_messages.any? %>
            <% @category.errors.full_messages.each do |error_message| %>
            <%= error_message  %> <br />
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="modal-body">
        <div class="field">
              <%= f.label :name%><br>
              <%= f.text_area :name, class: "form-control category_name"%>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= submit_tag "Create", class: "btn btn-primary"%>
      </div>
    </div>
  </div>
</div>
<%end%>

<br>
<br>
<table class="table table-hover">
  <tr>
    <th>No.</th>
    <th>Category</th>
  </tr>
  <% @categories.each do |category|%>
  <tr>
    <td> <%=@count += 1%> </td>
    <td> <%=category.name%> </td>
  </tr>
  <%end%>

</table>
